[Unit]
Description=Podman NGINX Hello (writer)
After=network-online.target
Wants=network-online.target

[Service]
User=app
Environment=XDG_RUNTIME_DIR=/run/user/%U
Restart=always
TimeoutStopSec=10
ExecStart=/usr/bin/podman run --rm --name writer -p 8082:80 docker.io/library/nginx:alpine
ExecStop=/usr/bin/podman stop -t 10 writer
ExecStopPost=/usr/bin/podman rm -f writer

[Install]
WantedBy=multi-user.target
